{
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    },
    "react":  {
      "version":  "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
    }
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "eslint:recommended"
  ],
  "rules": {
    "no-console": "off",
    "semi": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-tabs": 2,
    "react/self-closing-comp": 2,
    "react/no-typos": 2,
    "jsx-a11y/no-autofocus": [ 2, {
      "ignoreNonDOM": true
    }]
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "react",
    "jsx-a11y",
    "filenames"
  ]
}
